/* Generics */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	padding-top: 80px;
}

img {
	max-width: 100%;
}

/* Layout */

.w-40 {
	width: 40%;
}

.w-50 {
	width: 50%;
}

.w-60 {
	width: 60%;
}

.col {
	float: left;
}

.container-wide {
	width: 1600px;
	margin: auto;
}

/* Utilities */


.clearfix::after, 
.row::after {
	clear: both;
	content: '';
	display: table;
}

.right-align {
	text-align: right;
}

.btn {
	padding: 8px 20px;
	text-decoration: none;
}

.btn.btn-small {

}

.btn.btn-blue {
	background-color: #0062fb;
	color: white;
}

h1 {
	font-size: 6rem;
	font-weight: 1500;
	font-family: sans-serif;
	line-height: 130px;
	margin-bottom: 30px;
}

/* Header */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #fff;
	z-index: 1;
}

header a {
	text-decoration: none;
	color: black;
}

#top-nav ul {
	line-height: 80px;
	list-style-type: none;
	display: inline-block;
	font-size: 1.1rem;
}

#top-nav li {
	display: inline-block;
	padding: 0 30px;
}


#dropbox-logo-small {
	vertical-align: middle;
}

/* Header */

#spotlight .row {
	
	position: relative;
	bottom: -98px;
}

#spotlight {
	width: 100%;
	background-color: #b4d0e6;
}


#spotlight p {
	margin-bottom: 30px;
	margin-top: 10px;
	padding-right: 10px;
}

#spotlight p,
#spotlight a {
	font-size: 1.2rem;
}

#spotlight .btn {
	/* margin: 30px auto; */
	display: inline-block;
}

#spotlight i {
	margin-top: 30px;
}