/* Generics */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	padding-top: 80px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	color: #0061fe;
}

hr {
	color: lightgrey;
	margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

h1 {
	font-size: 6rem;
	font-weight: 1000;
	line-height: 130px;
	margin-bottom: 30px;
}

h2 {
	font-size: 3.5rem;
	font-weight: 1000;
	margin: 80px 0;
}

h3 {
	font-size: 3rem;
	font-weight: 1000;
	margin-bottom: 50px;
}

h4 {
	font-size: 2rem;
	margin-top: 30px;
	margin-bottom: 20px;
}

h5 {
	font-size: 1.3rem;
	margin: 10px auto;
}

h6 {
	font-size: 1.5rem;
}

hr.short {
	width: 55px;
}

address {
	font-style: normal;
}

/* Layout */

.w-20 {
	width: 20%;
}

.w-33 {
	width: calc(100% / 3);
}

.w-30 {
	width: 30%;
}

.w-40 {
	width: 40%;
}

.w-50 {
	width: 50%;
}

.w-60 {
	width: 60%;
}

.w-70 {
	width: 70%;
}

.w-80 {
	width: 80%;
}

.w-100 {
	width: 100%;
}

.col {
	float: left;
}

.container {
	width: 1350px;
	margin: auto;
}

.container-wide {
	width: 1600px;
	margin: auto;
}

/* Utilities */

.clearfix::after, 
.row::after {
	clear: both;
	content: '';
	display: table;
}

.right-align {
	text-align: right;
}

.btn {
	padding: 8px 20px;
	text-decoration: none;
}

.btn.btn-wide {
 display: inline-block;
 width: 100%;
 text-align: center;
}

.btn.btn-blue {
	background-color: #0062fb;
	color: white;
}

.btn-white-bordered {
	border: solid 1px black;
	color: black;
}

.btn-white {
	color: black;
	background-color: #fff;
}

.btn:hover {
	filter: brightness(1.3);
}

.card-header {
	border: solid 1px lightgrey;
}

/* Header */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #fff;
	z-index: 1;
}

header a {
	text-decoration: none;
	color: black;
}

#top-nav ul {
	line-height: 80px;
	list-style-type: none;
	display: inline-block;
	font-size: 1.1rem;
}

#top-nav li {
	display: inline-block;
	padding: 0 30px;
}

#dropbox-logo-small {
	vertical-align: middle;
}

/* Header */

#spotlight .row {
	position: relative;
	bottom: -98px;
}

#spotlight {
	width: 100%;
	background-color: #b4d0e6;
	margin-bottom: 250px;
}

#spotlight p {
	margin-bottom: 30px;
	margin-top: 10px;
	padding-right: 10px;
}

#spotlight p,
#spotlight a {
	font-size: 1.2rem;
}

#spotlight .btn {
	/* margin: 30px auto; */
	display: inline-block;
}

#spotlight i {
	margin-top: 30px;
}

.bouncing-arrow {
	color: black;
	position: relative;
	top: 0;
	left: 0;
	animation: bouncing 1s ease infinite;
}

@keyframes bouncing {
	0% {
		top: 20px;
		left: 0;
	}
	50% {
		top: 0px;
		left: 0;
	}
	100% {
		top: 20px;
		left: 0;
	}
}

/* radios */

#radios {
	width: 1000px;
	height: 60px;
	padding-left: 20px;
}

#checked-radio,
#unchecked-radio {
	width: 20px;
	height: 20px;
	border: 5px solid #0062fb;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	margin-left: 20px;
}

#checked-radio {
	border: 5px solid #0062fb;
}

#unchecked-radio {
	border: 1px solid lightgray;
}

/* business plans */

#business-plans .row {
	margin-left: -40px;
	margin-right: -40px;
}

#business-plans .card {
	border: 1px solid lightgrey;
	padding: 20px 50px;
	margin: 0 40px;
	/* altezza aggiuntiva per l'altezza in fondo uguale a prescindere dal contenuto */
	min-height: 1100px;
}

#business-plans .row .card-header {
	border: solid 1px lightgrey;
	margin: 0 40px;
}

#business-plans h6 {
	font-weight: normal;
	margin: 10px auto;
	text-align: center;
}

#business-plans ul {
	list-style-type: none;
	margin-bottom: 30px;

	/* Custom list style type */
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1.2em;
}

#business-plans li {
	margin: 25px 0;
	list-style-position: outside;
}

#business-plans h5 + span {
	color: gray;
}

.plan-main-points {
	margin-top: 40px;
}

.plan-main-points p {
	margin: 30px 0;
}

.starting-icon-reg::before {
	font-family: "Font Awesome 5 Free";
    font-weight: 400;
	margin-right: 5px;
}

.starting-icon-bold::before {
	font-family: "Font Awesome 5 Free";
    font-weight: 900;
	margin-right: 5px;
}

.starting-icon-reg.icon-profile::before {
	content: '\f007';
}

.starting-icon-reg.icon-files::before {
	content: '\f07b';
}

.starting-icon-bold.icon-pencil::before {
	content: '\f303';
}

.starting-icon.icon-profile::before {
	content: '\f007';
}

.starting-icon-reg.icon-office::before {
	content: '\f1ad';
}

.starting-icon-bold.icon-profile-plus::before {
	content: '\f234';
}

.starting-icon-reg.icon-smile::before {
	content: '\f118';
}

.plan-highlights li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c    ";
	color: #0062fb;
}

#enterprise {
	margin-top: 80px;
}

#enterprise.w-100 {
	border: solid 1px lightgrey;
}

#enterprise .w-70 {
	height: 200px;
	padding-left: 30px;
}

#enterprise .w-30 {
	height: 200px;
	padding-right: 30px;
}

#enterprise .card-header {
	border: 0;
	border-bottom: solid 1px lightgrey;
}

#enterprise .btn {
	margin-top: 30px;
}

/* partner */

#partner .col {
	height: 650px;
	margin-top: 200px;
}

#partner p,
#partner a {
	font-size: 1.2rem;
	margin-bottom: 30px
}

/* business operations */

#business-operations {
	margin-top: 200px;
	margin-bottom: 120px;
}

#business-operations .col{
	margin-bottom: 130px;
}

#business-operations .card{
	margin: 0 40px;
}

#business-operations .row {
	margin-left: -40px;
	margin-right: -40px;
}

#business-operations p,
#business-operations a {
	font-size: 1.3rem;
}

/* Client Brands */

#clients .w-100 {
	margin-top: 50px;
}

#clients h2 {
	margin: 0 0 50px 0;
}

#clients p,
#clients address {
	font-size: 1.1rem;
	margin: 40px 0;
}

.client-spotlight {
	float: left;
	width: calc((100% / 16)*6);
	background-color: #f5f5f5;
	padding: 50px;
	/********

	.client-spotlight's height = .brand-box's height (100% / 16) * 6

	.client-spotlight's width = (100% / 16) * 5

	aspect-ratio = height / width = 6 / 5

	********/
	aspect-ratio: 6 / 5;
}

.client-spotlight img {
	width: 30%;
	margin-bottom: 20px;
}

.client-brands {
	float: left;
	width: calc((100% / 16)*5);
	aspect-ratio: 1 / 1;
}

.brand-box {
	float: left;
	width: calc(100% / 2);
	aspect-ratio: 1 / 1;
	position: relative;
	transition: border 500ms;
}

.brand-box img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: invert(1);
	width: 50%;
}

.brand-box:hover {
	border: 20px solid rgba(255, 255, 255, 0.301);
}

.bg-l-green {
	background-color: #a2d39b;
}

.bg-purple-red {
	background-color: #61082b;
}

.bg-blue {
	background-color: #0093ce;
}

.bg-red {
	background-color: #ff1c1c;
}

.bg-d-red {
	background-color: #d5001f;
}

.bg-l-blue {
	background-color: #b4d0e7;
}

.bg-d-blue {
	background-color: #0d2481;
}

.bg-yellow {
	background-color: #ffd830;
}

/* Vendor */

#vendor {
	background-color: #b4d0e7;
	padding: 150px 0;
}

#vendor .w-70 {
	padding-left: 80px;
	padding-right: 80px;
}

#vendor .w-30 {
	padding-left: 40px;
	padding-right: 40px;
}

#vendor h2 {
	color: #61082b;
	margin: 0;
}

/* FAQs */

#faq.container {
	margin: 100px auto;
}

#faq .faq {
	border-top: solid 1px lightgrey;
}

#faq .faq:last-child {
	border-bottom: solid 1px lightgrey;
}

#faq .faq .w-20::after {
	font-family: "Font Awesome 5 Free";
    font-weight: 900;
	font-size: 1.5rem;
	content: '\f078';
}

#faq .w-20 {
	text-align: right;
	padding: 30px;
}

#faq .w-80 {
	padding: 25px 25px 25px 0;
}

/* Footer */

footer {
	background-color: black;
	color: white;
}

footer .row {
	padding: 100px 10px;

}

footer h6 {
	font-weight: 600;
}

footer ul {
	list-style-type: none;
	line-height: 30px;
	margin-top: 20px;
}

footer li a {
	color: white;
	text-decoration: none;
}

#language {
	display: inline-block;
	border-top: 1px solid lightgray;
	padding: 40px 30px 40px 5px;
}

#language a {
	color: rgba(211, 211, 211, 0.637);
	text-decoration: none;
}

#language a::before {
	font-family: "Font Awesome 5 Free";
    font-weight: 900;
	font-size: 1.2rem;
	content: '\f7a2 ';
}

#language a::after {
	font-family: "Font Awesome 5 Free";
    font-weight: 900;
	font-size: 0.8rem;
	content: ' \f0d8';
}